<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionRobo"
        tools:targetApi="31">
        <!-- INICIO ACTIVIDAD -->
        <activity
            android:name=".inicioActivity"
            android:exported="true"
            android:theme="@style/Theme.AplicacionRobo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AplicacionRobo.NoActionBar" /> <!-- loginActivity with MAIN and LAUNCHER intent filter -->
        <activity
            android:name=".usuario.RegistroUsuarioActivity"
            android:exported="true">
        </activity>
        <!--USUARIO ACTIVITY -->
        <activity
            android:name=".usuario.UsuarioActivity"
            android:exported="true">
        </activity>
        <!--CONTACTO ACTIVITY -->
        <activity
            android:name=".Contacto.ContactoActivity"
            android:exported="true">
        </activity>
        <!--REGISTRO CONTACTO ACTIVITY -->
        <activity
            android:name=".usuario.RegistroContactoActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>